.form-row {
  margin: 1.3em 0;
}

label {
  display: block;
  margin: 0.6em 0;
}

input {
  width: 100%;
  font-size: 1.0em;
}

.disclaimer {
  font-size: 13px
}

.savings {
  font-weight: bold;
  color: black;
  text-align: center;
}

#rule {
  color: red;
}

.company {
  font-weight: normal;
}
