.TopTenExpenses {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.TopTenExpenses {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.TopTenExpenses td, .TopTenExpenses th {
  border: 1px solid #ddd;
  padding: 8px;
}

.TopTenExpenses tr:nth-child(even){background-color: #f2f2f2;}

.TopTenExpenses tr:hover {background-color: #ddd;}

.TopTenExpenses th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: white;
  color: red;
}
